header {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}

header div {
    background-image: url('../images/logo.png');
    background-position: left;
    background-repeat: no-repeat;
    height: 70px;
    margin-left: 20px;
}
